@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&family=Quicksand:wght@300&display=swap");
.userWrapper {
  min-height: 120px;
  padding: 10px;
  background-color: #0d2d70;
  color: #e4e4e4;
}

.userWrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.userWrapper div img {
  width: 100px;
  border: 3px solid #e4e4e4;
  border-radius: 50%;
}

nav {
  height: 100%;
  overflow: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

nav ul li {
  height: 70px;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

nav ul li a:hover {
  background-color: white;
  font-size: 1.4em;
  color: black;
}

nav ul li a:hover > .icon {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  margin-right: 30px;
}

nav ul li a:active > .icon {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  margin-right: 20px;
}

nav ul li a span.icon {
  display: inline-block;
  -webkit-transform: none;
          transform: none;
  font-size: 30px;
  margin-right: 12px;
}

nav ul li.end {
  margin-top: auto;
  background-color: #0d2d70;
}

nav ul li.end a {
  color: white;
}

nav ul li.end a:hover {
  background-color: white;
  font-size: 1.4em;
  color: black;
}

nav ul li.end a:hover > .icon {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  margin-right: 30px;
}

nav ul li.end a:active > .icon {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  margin-right: 20px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("/src/images/5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.164);
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  border-radius: 6px 30px 30px 6px;
}

body aside {
  background-color: #e4e4e4;
  border-left: 6px solid #0d2d70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
}

body .content {
  width: 80%;
  height: 100%;
  position: relative;
}

body .content:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: #e4e4e4;
}

.header h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 25px;
  margin: 0 15px;
  background: none;
  border: none;
  font-size: 15px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header button span {
  line-height: 25px;
  margin: 0 2px;
}

.header button .buttonIcon {
  line-height: 25px;
  display: inline-block;
  height: 30px;
}

.header button:hover {
  font-size: 1.1em;
  color: black;
}

.header button:active {
  font-size: 1em;
}

.monthChange button {
  border: none;
}

.monthChange button .smallButtonIcon {
  font-size: 20px;
}

.tasksWrapper {
  padding: 10px;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (320px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 320px);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  overflow: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fill {
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendarWrapper {
  width: 80%;
  height: 95%;
  margin: auto;
  overflow: auto;
}

.calendarWrapper ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  background-color: black;
  border: 1px solid black;
}

.calendarWrapper ol .day-name {
  background-color: #0d2d70;
  text-align: center;
  font-size: 27px;
  color: #e4e4e4;
}

.calendarWrapper ol .calendarTile {
  background-color: #e4e4e4;
  width: 100%;
  padding: 6px;
  height: 110px;
  min-width: 40px;
}

.calendarWrapper ol .calendarTile .dayNum {
  background: #0d2d70;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  border-radius: 50%;
  font-size: 15px;
  color: #e4e4e4;
}

.calendarWrapper ol .calendarTile .tasks {
  display: block;
  margin-top: 5px;
}

.task {
  width: 100%;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 7px;
  overflow: hidden;
  position: relative;
}

.task .taskHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task .taskHeader .buttonsWrapper {
  position: absolute;
  font-size: 22px;
  right: 0;
  margin: -3px 15px;
}

.task .taskHeader .buttonsWrapper .taskButton {
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
  margin: 0 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.task .taskHeader .buttonsWrapper .taskButton[hoverColor='green']:hover {
  padding: 3px;
  background-color: #21c021;
  color: white;
  cursor: pointer;
}

.task .taskHeader .buttonsWrapper .taskButton[hoverColor='red']:hover {
  padding: 3px;
  background-color: #e40000;
  color: white;
  cursor: pointer;
  border: none;
}

.task .taskHeader .buttonsWrapper .taskButton:active {
  font-size: 0.9em;
}

.task .taskHeader .important {
  position: absolute;
  font-size: 1.3em;
  left: 0;
  margin-left: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.task .taskHeader .important:hover {
  color: rgba(218, 165, 32, 0.692);
}

.task .taskHeader .important:active {
  color: #ffb700;
  font-size: 1em;
}

.task .taskHeader::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 30px;
  z-index: -10;
  top: 0;
  left: 0;
  background-color: white;
}

.task .taskContent {
  margin-top: 10px;
}

.task .golden {
  color: goldenrod;
}

.task .danger {
  color: #e40000;
}
/*# sourceMappingURL=style.css.map */