.header {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: $white;
  h1 {
    align-self: flex-end;
  }
}

.calendarDate {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
  justify-content: flex-end;

  & .yearChange {
    margin: 0 auto;
    display: flex;
  }

  & .monthChange {
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 23px;
    margin: 0 auto;
    text-align: center;

    & button {
      border: none;
      font-size: 16px;
      cursor: pointer;
    }

    // left button
    & button:first-child {
      float: left;
      margin-top: 5px;
    }

    // right button
    & button:last-child {
      float: right;
      margin-top: 5px;
    }
  }
}

.tasksWrapper {
  padding: 10px;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  overflow: auto;
  transition: all 0.5s;
}

.fill {
  width: 100%;
  height: 100%;
  background-color: $white;
}

.message {
  color: $white;
  font-size: 26px;
}
