.header {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 120px;
  background-color: $white;
  h1 {
    align-self: flex-end;
  }
}

.tasksWrapper {
  padding: 10px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    320px
  ); //transition doesnt work on grid-template-columns
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  overflow: auto;
  transition: all 0.5s;
}

.calendarWrapper {
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow: auto;
  .calendarTable {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 4px;
    .calendarTile {
      width: 100%;
      height: 70px;
      border: 1px solid black;
      border-radius: 15px;
      min-width: 40px;
    }
  }

  .day-name-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}

.fill {
  width: 100%;
  height: 100%;
  background-color: $white;
}

.center {
  justify-content: center;
}
