@mixin navButton() {
  &:hover {
    background-color: white;
    font-size: 1.4em;
    color: black;

    & > .icon {
      transition-duration: $transition-quick;
      transform: rotate(-20deg);
      margin-right: 30px;
    }
  }
  &:active {
    & > .icon {
      transition-duration: $transition-quick;
      transform: rotate(0);
      margin-right: 20px;
    }
  }
}
