.smallCalendar {
  width: 250px;
  & ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: $white;
    border: 3px solid $dark-blue;
    & li {
      grid-gap: 1px;
    }
    & .small-day-name {
      border-left: 1px solid $dark-blue;
      border-right: 1px solid $dark-blue;
      background-color: $dark-blue;
      text-align: center;
      font-size: 15px;
      color: $white;
    }

    & .smallTile {
      cursor: pointer;
      transition: $transition-quick;
      background-color: $white-lighter;
      padding: 5px;
      height: 40px;
      text-align: center;
      &[notvisible] {
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(0, 0, 0, 0.5);
      }
      &[activetile] {
        background-color: $dark-blue-highlight;
        color: white;
      }
    }

    & .smallTile:hover {
      background-color: $dark-blue;
      color: white;
      border-bottom: 7px solid $white-opacity;
    }

    & .smallTile:active {
      background-color: white;
      color: black;
      border-bottom: 12px solid $dark-blue;
    }
  }
}
