.task {
  width: 100%;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 7px;
  overflow: hidden;
  position: relative;

  .taskHeader {
    display: flex;
    justify-content: center;
    & .buttonsWrapper {
      position: absolute;
      font-size: 22px;
      right: 0;
      margin: -3px 15px;

      & .taskButton {
        border: 1px solid rgba(0, 0, 0, 0.171);
        border-radius: 50%;
        padding: 2px;
        margin: 0 3px;
        transition: $transition-quick;
      }

      & .taskButton[hovercolor='green']:hover {
        padding: 3px;
        background-color: $green;
        cursor: pointer;
        border: none;
      }
      & .taskButton[hovercolor='red']:hover {
        padding: 3px;
        background-color: $red;
        color: black;
        cursor: pointer;
        border: none;
      }

      & .taskButton:active {
        font-size: 0.9em;
      }
    }
    & .important {
      position: absolute;
      font-size: 1.3em;
      left: 0;
      margin-left: 10px;
      transition: $transition-quick ease-in-out;
    }

    & .important:hover {
      color: rgba(218, 165, 32, 0.692);
    }

    & .important:active {
      color: rgb(255, 183, 0);
    }

    &::before {
      content: '';
      position: absolute;
      width: 600px;
      height: 30px;
      z-index: -10;
      top: 0;
      left: 0;
      background-color: white;
    }
  }

  .taskContent {
    margin-top: 10px;
    text-align: center;
  }

  .golden {
    color: goldenrod;
  }

  .danger {
    color: $red;
  }
}
