@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&family=Quicksand:wght@300&display=swap');

$font-family: 'Poppins', sans-serif;

$dark-blue: rgb(13, 45, 112);
$dark-blue-highlight: rgb(24, 74, 182);
$dark-blue-opacity: rgba(13, 44, 112, 0.5);
$white-opacity: rgba(255, 255, 255, 0.5);
$white-darker: rgb(175, 175, 175);
$white-lighter: rgb(241, 241, 241);
$white: rgb(219, 219, 219);
$red: rgb(228, 0, 0);
$green: rgb(33, 192, 33);

$transition-quick: 0.2s;
