@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&family=Quicksand:wght@300&display=swap');

$font-family: 'Poppins', sans-serif;

$dark-blue: rgb(13, 45, 112);
$white: rgb(228, 228, 228);
$red: rgb(228, 0, 0);
$green: rgb(33, 192, 33);

$transition-quick: 0.2s;
